# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore images
*.jpg
*.jpeg
*.png
*.gif

# ignore linkfile
images*
imagesTwo

# Dependency directories (remove the comment below to include it)
# vendor/

# ignore binary
process

# ignore temporary directory
temp

# ignore processAllfile
processAll.sh

# selected palette
selectedPalette.json

# profiling files
*.prof

# shell scripts
*.sh

# output directory
out
